POSTGRES_DB=moira
POSTGRES_USER=moira
POSTGRES_PASSWORD=moira_dev
POSTGRES_PORT=5432
ConnectionStrings__Postgres="Host=localhost;Port=${POSTGRES_PORT:-5432};Database=${POSTGRES_DB:-moira};Username=${POSTGRES_USER:-moira};Password=${POSTGRES_PASSWORD:-moira_dev}"
